<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}"
>
<div layout:fragment="content" class="container">
    <h1 class="mt-5">Either - A vs B</h1>
    <a href="/questions/new" class="btn btn-primary mb-3">새 질문 만들기</a>
    <hr>
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>질문</th>
            <th>보기</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="question : ${questions}">
            <td th:text="${question.id}"></td>
            <td th:text="${question.title}"></td>
            <td><a th:href="@{/questions/{id}(id=${question.id})}" class="btn btn-info btn-sm">상세보기</a></td>
        </tr>
        </tbody>
    </table>
</div>
</html>